.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.dots {
    font-weight: bold;
    font-size: 1.2rem;
}
.selectedPage {
    font-weight: bold;
}